/** @format */
.registration {
  margin-bottom: 200px;
}
.preview {
  background-color: #101810c7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  top: 45px;
  border-radius: 30px;

}



