/** @format */

.appvideo {
  display: blok;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  /* max-width: 80vh; */
  height: -webkit-fill-available;
}

/* Video Styling */
.video {
  width: 100%;
  border-radius: 30px;
  background-color: #121212;
  object-fit: contain;
}

/* Canvas Overlay */
.canvas {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80%;
}

@media (max-width: 480px) {
  .canvas {
    /* top: -100px; */
  }
}
/* Start Camera Button */
.startBTN {
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 20px;
  transform: translateY(-12px);
}

/* Hover Effect */
.startBTN:hover {
  background: linear-gradient(45deg, #ff4b2b, #ff416c);
  transform: scale(1.05);
}
/* background: linear-gradient(45deg, #2196F3, #e91e63a8); */

/* Error Message */
.error {
  color: #ff4b2b;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.reloadBtn {
  margin-top: 10px;
  padding: 10px 20px;
  background: rgb(255, 145, 0);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
}

.reloadBtn:hover {
  background: red;
}

.video,
.imageCaptured,
.canvas {
  display: block;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.video,
.canvas {
  width:100%;
  /* height: auto; */
}
/* Responsive Adjustments */
@media (max-width: 768px) {
  .appvideo {
    /* padding: 15px; */
  }

  .video,
  .canvas {
    width: 100%;
    max-width: 600px;
  }

  .startBTN {
    font-size: 14px;
    padding: 10px 20px;
  }
}
@media (hover: hover) {
  .startBTN:hover {
    background: linear-gradient(45deg, #ff4b2b, #ff416c);
    transform: scale(1.05);
  }
}
@media (max-width: 480px) {
  .video,
  .canvas {
    width: 100%;
    max-width: 400px;
  }

  .appvideo {
    max-width: 400px;
    max-height: 400px;
  }

  .startBTN {
    font-size: 12px;
    padding: 8px 16px;
  }
}
